<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
               xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Page Layout</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/index}">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/formProduct}">Products</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Catalogue</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <section layout:fragment="content">
    </section>

    <footer>
       <div>Footer ismail@bouaddi</div>
    </footer>
</body>
</html>